:root {
    --white: #fff;
    --black:#202020;
    --purple:#6E4DE2;
    --light-gray:#A2A2A2;
    --dark-gray:#929292;
    --box-color-1: #FFF6F2;
    --box-color-2: #F6F6FF;
    --yellow:#FFC85A;
    --blue: #5B6CE3;
    --tomato: #FF7C58;
    --green: #00BC4E;
    --aqua: #3FDADE;
    --blue1:#D98C6D5;
    --green1:#9FDBAD;
    --red1:#EE5952;
    --purple1:#B17FC7;
    --yellow:#E6BA56;
    --orange:#FF9872;
    --footer-bg:#F3F3F3;
    --orange-links:#E19219;
}
/* common classes and reset */
body{
    background-color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif, serif;
    padding:0;
    margin:0;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.button{
    cursor: pointer;
    border:none;
    outline:none;
    padding:15px;
    border-radius: 5px;
    background-color: var(--purple);
    color:var(--white);
    font-size: 16px;
    transition: background-color ease-in-out .2s;
    display: inline-block;
}
.button:hover{
    background-color: var(--blue);
}
p{
    color:var(--dark-gray)
}

/* main styles */
header{
    padding:20px 0;
}
.container{
    width: 1200px;
    margin: auto;
    display: flex;
}
header .container{
    justify-content: space-between;
}
header #logo h1{
    font-size: 1.2rem;
    margin: 0;
}
#logo, nav{
    display: flex;
    align-items: center;
}
nav{
    gap: 25px;
}
nav a{
    display: block;
    color:var(--black);
    transition: color ease-in-out .2s;
}
nav a:not(:last-child){
    margin-right: .5rem;
}
nav a:hover{
    color: var(--purple);
}
h2,h3{
    margin: 0;
}
#hero .container > div,#mobile-app .container > div,#offers .container > div,#features-app .container > div,#signup .container > div{
    flex-basis: 50%;
}
#hero #calandar img{
    width: 100%;
}
#description h2{
    font-size: 4.5em;
}
#description h2 div:nth-child(2){
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}
#description h2 div:nth-child(2) img{
   width: 6rem;
}
#description p{
    color: var(--light-gray);
    margin: 2rem 0;
}
#description #demo span{
    display: inline-block;
    margin-left: 1rem;
    color:var(--dark-gray);
}
#process{
    padding:10rem 0 20rem;
}
#process .container{
    justify-content: space-between;
    gap: 1.5rem;
}
#process h3{
    font-size: 3em;
}
#process .features{
    padding: 2rem 1rem;
}
#process .features:not(:first-child){
    text-align: center;
}
#process .features:nth-child(2){
    background-color: var(--box-color-1);
}
#process .features:nth-child(3){
    background-color: var(--box-color-2);
}
#process .features:last-child{
    background-color: var(--box-color-2);
}
#process .features h3{
    font-size: 2.7em;
}
#process .features h4{
    font-size: 1.3em;
}
.features .icon{
    display: inline-block;
    padding: 1.2rem 1.5rem;
    border-radius: 5px;
    color: var(--white)
}
#process .features:nth-child(2) .icon{
    background-color: var(--yellow);
}
#process .features:nth-child(3) .icon{
    background-color: var(--blue);
}
#process .features:last-child .icon{
    background-color: var(--tomato);
}

#mobile-app{
    background-color: var(--box-color-2);
    position: relative;
    /* max-height: 450px; */
    /* overflow: hidden; */
}
#mobile-app .container{
    justify-content: end;
    /* gap:4rem; */
}

#phone{
    position: absolute;
    top: -100px;
    display: block;
    left: 15rem;
}
#phone img{
    width: 41%;
}
#mobile-app #app-info{
    flex-basis: 60%;
}
#app-info{
    background-color: var(--white);
    padding:2.5rem 3rem;
}
#app-info h5, #app-info h3{
    margin:0 0 2rem;
}
#app-info h5{
    font-size: 1em;
    color: var(--dark-gray);
}
#app-info h3{
    font-size: 2em;
}
#mobile-app .features:first-child .icon{
    background-color: var(--green);
}
#mobile-app .features:last-child .icon{
    background-color: var(--aqua);
}
#app-features{
    display: flex;
}
#offers{
    padding: 5rem 0;
    position: relative;
}
#offers h3{
    font-size: 2.1  em;
    margin-bottom: 4rem;;
    text-align: center;
}
#offers .container{
    gap: 2.5rem;
}
#offers .container > div{
    height: 500px;
}
#person{
    background: linear-gradient(155deg, transparent 60%, var(--yellow) 30%) no-repeat top left;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#person img.man{
    display: block;
    width: 200px;
    position: absolute;
    bottom:0;
    left: 50%;
}
#circle{
    box-shadow: inset -50px -36px 50px -1px rgba(0,0,0,0.17);
    width: 350px;
    height: 350px;
    background-color: var(--white);
    border-radius: 50%;
    padding: 4rem;
    flex-direction: revert;
    display: flex;
    justify-content: center;
    align-items: initial;
    gap: .5rem;
    position: relative;
}
#circle .customers:first-child{
    flex: none;
}
#circle .customers{
    text-align: center;
    padding:.1rem .5rem;
    background-color: var(--white);
    border-radius: 5px;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.2));
}
#circle .customers p{
    font-size: 12px;
}
#circle .customers:not(:first-child) p{
    transform: rotate(-90deg);
}
.purple{
    background-color: var(--purple1);
    left: 35%;
}
.blue{
    background-color: var(--blue);
    left: 50%;

}
.green{
    background-color: var(--green);
    left: 50%;

}
.red{
    background-color: var(--red1);
    left: 60%;
}
.badges{
    margin-left: -8px;
    width:16px;
    height:16px;
    border-radius: 50%;
    position: absolute;
    bottom:10px;
}
#offer-boxes .box{
    background-color: var(--white);
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.4));
    border-radius: 10px;
    padding:1rem;
    border-left: 3px solid;
}
#offer-boxes .box h5{
    font-size: 1.4em;
    margin: 0 0 1.5rem;
}
#offer-boxes .box:not(:last-child){
    margin-bottom: 1rem;
}
#offer-boxes .box:first-child{
     border-color: var(--orange);
}
#offer-boxes .box:nth-child(2){
    border-color: var(--blue);
}
#offer-boxes .box:last-child{
    border-color: var(--green);
}
#features-app{
    background-color: var(--box-color-1);
}
#laptop {
    display: flex;
    align-items: center;
}
#laptop img{
    width: 100%;;
}
#features-app .features:first-child .icon{
    background-color: var(--tomato);
}
#features-app .features:last-child .icon{
    background-color: var(--blue);
}
#signup{
    padding:4rem 0;
    background-color: var(--white);
}
#signup h2{
    margin-top: 8rem;
    font-size: 3em;
}
#signup p{
    margin-bottom: 2rem;
}
#signup-image img{
    width: 100%;
}
footer{
    background-color: var(--footer-bg);
    padding:5rem 2rem;
    display: flex;
    justify-content: space-between;
}
footer #links a , footer #resources a{
    display: block;
    margin-bottom: 15px;
    color: var(--dark-gray);
}
footer #mail {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 5px;
}
footer #mail input{
    padding: 5px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    width: 74%;
}
footer h4{
    font-size: 1.5em;
    margin-top: 0;
}
footer #social a{
    display: inline-block;
    width:40px;
    line-height: 2.4;
    height:40px;
    border-radius: 50%;
    border: 1px solid var(--orange-links);
    color:var(--orange-links);
    transition:all ease-in-out .2s;
    text-align: center;
    line-height: 2.4;
}
footer #social a:hover{
    background-color: var(--orange-links);
    color:var(--white)
}
footer #social a:not(:last-child){
    margin-right: 10px;
}